{% extends 'base.html.twig' %}

{% block body %}

<h2>Opinie</h2>
    <ul>
        {% for opinion in opinions %}
        
        <li>{{ opinion.content }}
        <b>Modified: </b>
        {{ opinion.modified|date('F j, Y, g:i a') }}</li>
        
        {% endfor %}
    </ul>
<h2>Dodaj nową opinię</h2>
<a href="http://localhost/sym/symfony_opinion/web/app_dev.php/opinion/create">dodaj</a>
{% endblock %}







