{% extends 'base.html.twig' %}

{% block body %}
<h2>Dodaj nową opinię</h2>
<a href="http://localhost/sym/symfony_opinion/web/app_dev.php/opinion/create">dodaj</a>
tu będzie formularz
<h2>Opinie</h2>
<a href="http://localhost/sym/symfony_opinion/web/app_dev.php/opinion">lista opinii</a>
{% endblock %}
